In [19]:
#11. for를 이용한 기본 활용
s = 0
for i in range(101):
    s += i
print(s)

5050

In [21]:
#12. 게임 캐릭터 클래스 만들기
class Wizard:
    def __init__(self, health, mana, armor):
        self.health = health
        self.mana = mana
        self.armor = armor
    
    def attack(self):
        print('파이어볼')
    

x = Wizard(health = 545, mana = 210, armor = 10)
print(x.health, x.mana, x.armor)
x.attack()

545 210 10
파이어볼

In [1]:
#13.
u = ['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
n = int(input()) - 1
print(u[n])

1
수성

In [3]:
#14.
n = int(input())
if n % 3 == 0:
    print("짝")
else:
    print(n)

5
5

In [7]:
#15.
name = input()
print('안녕하세요. 저는 {}입니다.'.format(name))

김다정
안녕하세요. 저는 김다정입니다.

In [8]:
#16.
sentence = input()
print(sentence[::-1])

거꾸로
로꾸거

In [11]:
#17.
height = int(input())
if height >= 150:
    print("YES")
else:
    print("NO")

160
YES

In [24]:
#18.
test = list(map(int, input().split()))
print(sum(test)/len(test))

20 30 40
30.0

In [25]:
#19.
num = list(map(int, input().split()))
print(num[0] ** num[1])

2 4
16

In [30]:
#20. 
num = list(map(int, input().split()))
print(f'{num[0]//num[1]} {num[0]%num[1]}')

10 2
5 0

In [37]:
#21.
a = {1, 2, 3, 5, 6, 7}
print(type(a))
b = {}
print(type(b))
c = set('python')
print(type(c))
d = set(range(5))
print(type(d))
e = set()
print(type(e))

<class 'set'>
<class 'dict'>
<class 'set'>
<class 'set'>
<class 'set'>

In [38]:
#22.
#2 i%6 == 0일 때, 6의 배수

In [39]:
#23.
# X
print(10/2)

5.0

In [41]:
#24.
i = input()
print(i.upper())

mary
MARY

In [48]:
#25.
def circle(n):
    return n * n * 3.14

print(circle(int(input())))

3
28.26

In [56]:
planet = {
    '수성' : 'Mercury',
    '금성' : 'Venus',
    '지구' : 'Earth',
    '화성' : 'Mars',
    '목성' : 'Jupiter',
    '토성' : 'Saturn',
    '천왕성' : 'Uranus',
    '해왕성' : 'Neptune',
}
name = input()
print(planet[name])

지구
Earth

In [58]:
#27.
keys = input().split()
values = map(int, input().split())

print(dict(zip(keys, values)))

Yujin Hyewon
70 100
{'Yujin': 70, 'Hyewon': 100}

In [62]:
#28.
text = input()
    
for i in range(len(text)-1):
    print(text[i], text[i + 1], sep='')

python
py
yt
th
ho
on

In [67]:
#29.
Alphabet = input()

if Alphabet.isupper():
    print('YES')
else:
    print('NO')

d
NO

In [69]:
#30.
sentence = input()
word = input()

print(sentence.find(word))

pineapple is yummy
apple
4

In [70]:
#31.
#3) l[a:b] -> O(b-a)

In [71]:
#32.
write = input()
num = list(write.strip().split())
print(len(num))

안녕하세요. 저는 제주대학교 컴퓨터공학전공 혜림입니다.
5

In [72]:
#33.
num = input()
print(num[::-1])

1 2 3 4 5
5 4 3 2 1

In [75]:
#34.
height = input()

l = list(height.strip().split())
l = [int (i) for i in l]

if l != sorted(l):
    print('NO')
else:
    print('YES')

176 156 155 165 166 169
NO

In [76]:
#35.
def one(n):
    def two(value):
        sq = value ** n
        return sq
    return two

a = one(2)
b = one(3)
c = one(4)
print(a(10))
print(b(10))
print(c(10))

100
1000
10000

In [81]:
#36.
n = int(input())

for i in range(1, 10):
    print(n*i, end = ' ')

6
6 12 18 24 30 36 42 48 54

In [1]:
#37. ***
data = list(map(str, input().split()))
count = 0
for i in range(len(data)):
    if data.count(data[i-1]) < data.count(data[i]):
        count = i
print("{}(이)가 총 {}표로 반장이 되었습니다.".format(data[count], data.count(data[count])))

원범 원범 혜원 혜원 혜원 혜원 유진 유진
혜원(이)가 총 4표로 반장이 되었습니다.

In [2]:
#38. ***
user_input = input()

l = list(user_input.strip().split())
l = [int (i) for i in l]

count = 3

data_sorted = sorted(list(l))

print(data_sorted)
for i in range(len(l)-1, 0, -1):
    if data_sorted[-3] == l[i]:
        count += 1
print(count)

97 86 75 66 55 97 85 97 97 95
[55, 66, 75, 85, 86, 95, 97, 97, 97, 97]
6

In [3]:
#39.
n = input()
print(n.replace("q", "e"))

querty
euerty

In [5]:
#40. ***
total = 0
count = 0
limit = int(input())
n = int(input())
 
for i in range(n):
    if total <= limit:
        total += int(input())
        count = i
print(count)

50
5
20
20
20
2

In [7]:
#37. ***
data = list(map(str, input().split()))
count = 0
for i in range(len(data)):
    if data.count(data[i-1]) < data.count(data[i]):
        count = i
print("{}(이)가 총 {}표로 반장이 되었습니다.".format(data[count], data.count(data[count])))

혜원 혜원 원범 원범 유진 혜원 원범 혜원
혜원(이)가 총 4표로 반장이 되었습니다.