In [9]:
## 59번
## 총문자열 길이 50, 문자열 가운데 정렬, 빈칸 =로 채우기, 사용자가 문자열 입
string = input()
= '{:=^50}'.format(string)
print(a)

SyntaxError: invalid syntax (<ipython-input-9-334a5949d1be>, line 4)

In [43]:
## 56번 *****
nationWidth = {
    'korea': 220877,
    'Rusia': 17098242,
    'China': 9596961,
    'France': 543965,
    'Japan': 377915,
    'England' : 242900,
}

w = nationWidth['korea']
nationWidth.pop('korea')
l = list(nationWidth.items())
gap = max(nationWidth.values())
item = 0

for i in l:
    if gap > abs(i[1] - w):
        gap = abs(i[1] - w)
        item = i
print(item[0],item[1]-220877)

England 22023

In [44]:
## 57번
a = str(list(range(1001))).count('1')
print(a)

301

In [27]:
## 58번
num = int(input())
result = format(num, ',')
print(result)

1234546
1,234,546

In [35]:
## 60번
students = ['강은지','김유정','박현서','최성훈','홍유진','박지호','권윤일','김채리','한지호','김진이','김민호','강채연']
b = sorted(students)

for number, name in enumerate(b):
    print("번호:{}, 이름:{}".format(number+1, name))

번호:1, 이름:강은지
번호:2, 이름:강채연
번호:3, 이름:권윤일
번호:4, 이름:김민호
번호:5, 이름:김유정
번호:6, 이름:김진이
번호:7, 이름:김채리
번호:8, 이름:박지호
번호:9, 이름:박현서
번호:10, 이름:최성훈
번호:11, 이름:한지호
번호:12, 이름:홍유진