In [6]:
## 59번
## 총문자열 길이 50, 문자열 가운데 정렬, 빈칸 =로 채우기, 사용자가 문자열 입
string = input()
a = '{:=^50}'.format(string)
print(a)

hello
======================hello=======================

In [43]:
## 56번 *****
nationWidth = {
    'korea': 220877,
    'Rusia': 17098242,
    'China': 9596961,
    'France': 543965,
    'Japan': 377915,
    'England' : 242900,
}

w = nationWidth['korea']
nationWidth.pop('korea')
l = list(nationWidth.items())
gap = max(nationWidth.values())
item = 0

for i in l:
    if gap > abs(i[1] - w):
        gap = abs(i[1] - w)
        item = i
print(item[0],item[1]-220877)

England 22023

In [7]:
## 57번
a = str(list(range(1001))).count('1')
print(a)

301

In [3]:
## 58번
num = int(input())
result = format(num, ',')
print(result)

123456789
123,456,789

In [5]:
num = int(input())
'{:,}'.format(num)
print(result)

1234567
123,456,789

In [ ]:
## 60번
students = ['강은지','김유정','박현서','최성훈','홍유진','박지호','권윤일','김채리','한지호','김진이','김민호','강채연']
b = sorted(students)

for number, name in enumerate(b):
    print("번호:{}, 이름:{}".format(number+1, name))