In [3]:
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

In [2]:
sum1 = 0
b = 1
while b < 1001:
    if b % 3 == 0:
        sum1 += b
    b += 1
    
print(sum1)

166833

In [26]:
q3 = 0
while True:
    q3 += 1
    if q3 > 5: break
    print('*' * q3)

*
**
***
****
*****

In [7]:
for q4 in range(1, 101):
    print(q4)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [9]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
len(A)

10

In [8]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum = 0
for score in A:
    sum += score 
avg = sum / len(A)
print(avg)

79.0

In [10]:
# 리스트 컴프리헨션으로 
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)

In [16]:
result = []
[n for n in numbers if n % 2 != 0]

[1, 3, 5]

In [23]:
numbers = [1, 2, 3, 4, 5]
q6 = [n*2 for n in numbers if n % 2 != 0]
print(q6)

[2, 6, 10]