In [1]:
# 문제 조금씩 바꿔서 풀어보기

In [ ]:
# 06-1 내가 프로그램을 만들 수 있을까?

In [2]:
# 1.구구단 (i x j = a)의 형태로 출력해보기

In [5]:
for i in range(2, 10):
    for j in range(2, 10):
        print(f' {i} x {j} = {i*j} ')

 2 x 2 = 4
 2 x 3 = 6
 2 x 4 = 8
 2 x 5 = 10
 2 x 6 = 12
 2 x 7 = 14
 2 x 8 = 16
 2 x 9 = 18
 3 x 2 = 6
 3 x 3 = 9
 3 x 4 = 12
 3 x 5 = 15
 3 x 6 = 18
 3 x 7 = 21
 3 x 8 = 24
 3 x 9 = 27
 4 x 2 = 8
 4 x 3 = 12
 4 x 4 = 16
 4 x 5 = 20
 4 x 6 = 24
 4 x 7 = 28
 4 x 8 = 32
 4 x 9 = 36
 5 x 2 = 10
 5 x 3 = 15
 5 x 4 = 20
 5 x 5 = 25
 5 x 6 = 30
 5 x 7 = 35
 5 x 8 = 40
 5 x 9 = 45
 6 x 2 = 12
 6 x 3 = 18
 6 x 4 = 24
 6 x 5 = 30
 6 x 6 = 36
 6 x 7 = 42
 6 x 8 = 48
 6 x 9 = 54
 7 x 2 = 14
 7 x 3 = 21
 7 x 4 = 28
 7 x 5 = 35
 7 x 6 = 42
 7 x 7 = 49
 7 x 8 = 56
 7 x 9 = 63
 8 x 2 = 16
 8 x 3 = 24
 8 x 4 = 32
 8 x 5 = 40
 8 x 6 = 48
 8 x 7 = 56
 8 x 8 = 64
 8 x 9 = 72
 9 x 2 = 18
 9 x 3 = 27
 9 x 4 = 36
 9 x 5 = 45
 9 x 6 = 54
 9 x 7 = 63
 9 x 8 = 72
 9 x 9 = 81

In [ ]:
# 1-1. 2단, 3단 등 단별로 구분하기

In [11]:
result = []
for i in range(2, 10):
    for j in range(1, 10):
        cur_result = f'{i} x {j} = {i * j}'
        result.append(cur_result)

for index, item in enumerate(result):
    if index % 9 == 0:
        print(index // 9 + 2)
    print(item)

2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [6]:
# 2. n값을 입력했을 때 해당 숫자에 대한 단만 출력되는 함수 만들기

In [2]:
while True:       
    num1 = int(input("숫자를 입력하시오"))
    for i in range(1,10):
        print (num1, "X", i, "=", num1*i)
    break

숫자를 입력하시오3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [7]:
# 2-1.n이 10이상일 때 오류메세지를 출력하는 함수 만들기

In [6]:
while True:       
    num1 = int(input("숫자를 입력하시오"))
    for i in range(1,10):
        if num1 > 10:
            print('10미만의 수를 입력하시오')
        else:
            print (num1, "X", i, "=", num1*i)
    break

숫자를 입력하시오11
10미만의 수를 입력하시오
10미만의 수를 입력하시오
10미만의 수를 입력하시오
10미만의 수를 입력하시오
10미만의 수를 입력하시오
10미만의 수를 입력하시오
10미만의 수를 입력하시오
10미만의 수를 입력하시오
10미만의 수를 입력하시오

In [8]:
# 06-2. 3과 5의 배수 합하기

In [9]:
# 1. 3과 5의 공배수 출력하기

In [5]:
for i in range(1, 100):
    if i % 3 == 0 and i % 5 == 0:
        print(i)

15
30
45
60
75
90

In [6]:
# 2. for 문과 break를 사용하여 17과 15의 공배수를 출력한 후 멈추는 함수 만들기

In [10]:
for i in range(1, 1000):
    if i % 15 == 0:
        if i % 17 == 0:
            print(i)
            break

255